:root {
    --brand-primary: #2f4050;
    --brand-sidebar: #2f4050;
    --sidebar-font-color : #ffffff;
    --sidebar-active-background : #ffffff;
    --sidebar-active-color : #000000;
    --card-success-color : #1ab394;
  }
